body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/oo.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin-top: 50px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.card-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
}

.alert ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.alert li {
    margin: 5px 0;
}
